@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script>
        function resetForm() {
            document.getElementById('txtFName').value = "";
            document.getElementById('txtLName').value = "";
            document.getElementById('txtSalary').value = "";
        }
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
</head>
<body>
    <div>
        <form action="/Employee/SaveEmployee" method="post">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td>
                        <input type="text" id="txtFName" name="FirstName" value="" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("FirstName")
                    </td>
                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td>
                        <input type="text" id="txtLName" name="LastName" value="" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("LastName")
                    </td>
                </tr>

                <tr>
                    <td>Salary:</td>
                    <td>
                        <input type="text" id="txtSalary" name="Salary" value="" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("Salary")
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" name="btnSubmit" value="Save" />
                        <input type="button" name="btnReset" value="Reset" onclick="resetForm();" />
                        <input type="submit" name="btnSubmit" value="Cancel" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
